<div class="container8">
<div class="row" style="margin-top: 25px;">
	<div class="col s12 m4 18">
		<div class="">
		<h4>Habilidades</h4>
		  <ul class="collapsible">
		    <li>
		      <div class="collapsible-header">
		      	<i class="material-icons">emoji_objects</i>
		      	Angular 8
		      	<div *ngFor="let star of stars3" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>Vuejs
		      	<div *ngFor="let star of stars4" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>MongoDB
		      	<div *ngFor="let star of stars2" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>ExpressJs
		      	<div *ngFor="let star of stars2" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>Node
		      	<div *ngFor="let star of stars2" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		  </ul>
		</div>		
	</div>

	<div class="col s12 m4 18 ">
		<div class="">
		  <ul class="collapsible">
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>HTML
		      	<div *ngFor="let star of stars5" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>CSS
		      	<div *ngFor="let star of stars4" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>Javascript
		      	<div *ngFor="let star of stars4" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>Bootstrap
		      	<div *ngFor="let star of stars4" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>PHP
		      	<div *ngFor="let star of stars4" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>MySQL
		      	<div *ngFor="let star of stars3" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>APIs REST
		      	<div *ngFor="let star of stars4" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		  </ul>
		</div>
	</div>

	<div class="col s12 m4 18 margSectTwo">
		<div class="">
			<h4>Plus</h4>
		  <ul class="collapsible">
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>Adobe Illustrator
		      	<div *ngFor="let star of stars4" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>Adobe Photoshop
		      	<div *ngFor="let star of stars2" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>Adobe AfterEffects
		      	<div *ngFor="let star of stars2" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>Adobe Premier
		      	<div *ngFor="let star of stars2" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">emoji_objects</i>Git
		      	<div *ngFor="let star of stars3" class="starsSkills" >
		      		<i class="material-icons starColorSkill">star</i>
		      	</div> 
		      </div>
		    </li>
		  </ul>
		</div>		
	</div>	
</div>
</div>