<div class="row" style="margin-top: 40px;">
	<div class="col s12 m4 18">
		<div>
			<img class="bolderRadio"  src="../../../assets/img/perfil.jpg">
			<h3 class="namePerfil">Daniel Cabrera</h3>
		</div>
	</div>
	<div class="col s12 m8 18 margSectTwo">
		<div class="container">
		<h2>Web Developer</h2>
		<p class="flow-text">Soy desarrollador web, estudiante de ingeniería informática en la universidad politécnica
		territorial del oeste de sucre, Clodosbaldo Russian (UPTOS), tengo al rededor de 3 años de
		experiencia laboral trabajando en empresas locales, como también proyectos freelance en el
		extranjero. Tengo conocimiento en distintas tecnologías y métodologias de desarrollo.</p>
		</div>
	</div>
</div>
