<div class="row" style="margin-top: 10px;">
	<div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="../assets/img/reel1.png">
          <!-- <span class="card-title">Waldo's</span> -->
        </div>
        <div class="card-action">
          <a href="https://www.eatwaldos.com/">Waldo's</a>
        </div>
      </div>	
	</div>
	<div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="../assets/img/reel2.png">
          <!-- <span class="card-title">Remotekitchen</span> -->
        </div>
        <div class="card-action">
          <a href="https://www.remotekitchen.co/">Remotekitchen</a>
        </div>
      </div>	
	</div>
	<div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="../assets/img/reel3.png">
          <!-- <span class="card-title">Phercu</span> -->
        </div>
        <div class="card-action">
          <a href="http://phercu.com.ve/">Phercu</a>
        </div>
      </div>	
	</div>

</div>