<div class="row" style="margin-top: 3px;">
	<div class="col s12 m6 18">

      <div class="card horizontal">
        <div class="card-content">
          <span class="card-title">Frontend - VECA.CA (Venezuela)</span>
          <p>Desempeñé el rol de programador frontend para desarrollar aplicativos web de la empresa,
          haciendo uso de distintas tecnologías.</p>
        </div>
        <div class="card-action">
          <i class="medium material-icons">camera_alt</i>
        </div>
      </div>

      <div class="card horizontal">
        <div class="card-content">
          <span class="card-title">Frontend - SOLID WEB (Chile)</span>
          <p>Tuve la dicha de trabajar de forma freelance para la empresa SolidWeb como
					programador, en el cual desarrollaba con React Native nuevos componentes para sus
					aplicaciones.</p>
        </div>
        <div class="card-action">
          <i class="medium material-icons">camera_alt</i>
        </div>
      </div>

      <div class="card horizontal">
        <div class="card-content">
          <span class="card-title">Programador - FullSite (Argentina)</span>
          <p>Trabajé de forma freelance para la empresa FullSite, en la cual añadia funcionalidades
					a las páginas webs, cabe destacar que trabajé en la página del Equipo de Futbol River
					Plate de Argentina.</p>
        </div>
        <div class="card-action">
          <i class="medium material-icons">camera_alt</i>
        </div>
      </div>

	</div>
	<div class="col s12 m6 18 margSectTwo">

      <div class="card horizontal">
        <div class="card-content">
          <span class="card-title">Diseñador UI/UX - Cesticom (Venezuela)</span>
          <p>Trabaje para la empresa Cesticom, como diseñador UI/UX y en crear elementos
					gráficos para sus redes sociales.</p>
        </div>
        <div class="card-action">
          <i class="medium material-icons">camera_alt</i>
        </div>
      </div>

      <div class="card horizontal">
        <div class="card-content">
          <span class="card-title">Audiovisual - Saeplus (Venezuela/Colombia)</span>
          <p>Estuve trabajando para la empresa SAEPLUS como encargado de Audiovisuales, para
					ambas sucursales Venezuela y Colombia.</p>
        </div>
        <div class="card-action">
          <i class="medium material-icons">camera_alt</i>
        </div>
      </div>

      <div class="card horizontal">
        <div class="card-content">
          <span class="card-title">Aplicación Web AIDA</span>
          <p> (Aplicación Informática de apoyo a la Discapacidad Auditiva) Desarrollé una aplicación web que sirve de apoyo para las personas con discapacidad
					auditiva en el PNFI (Proyecto Nacional de Formación en Informática) de la UPTOS
					(Universidad Politécnica Territorial del Oeste de Sucre) .</p>
        </div>
        <div class="card-action">
          <i class="medium material-icons">camera_alt</i>
        </div>
      </div>

	</div>
</div>
